@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.ellipse{
    clip-path: ellipse(30% 50% at 50% 50%);
}